body {
    background-color: #f9f9f9;
    font-size: 20px;
}

h1 {
	text-indent: 50px;
	margin-top: 50px;
}

p {
	text-indent: 50px;
	margin-left: 50px;
	width: 1000px;
}

.chart line {
  stroke: #eee;
  stroke-width: 26;
  shape-rendering: geometricPrecision;
}

.chart text {
  fill: black;
  font: 16px sans-serif;
}

.axis text {
  fill: black;
  font: 13px sans-serif;
}

.axis path,
.axis line {
  stroke: #bbb;
  stroke-width: 1;
  shape-rendering: geometricPrecision;
}

.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(50, 50, 50, 1);
      color: #fff;
      border-radius: 4px;
      font: 16px sans-serif;
      word-wrap: break-word;
}
    
.d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(50, 50, 50, 1);
      content: "\25BC";
      position: absolute;
      text-align: center;
}

.d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
}


