body {
    background-color: #eee;
    font-size: 48px;
}

div.chart {
  font: 10px sans-serif;
  background-color: #eee;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
	fill: #bbb;
} 

.chart line {
  stroke: #d7d7d7;
  stroke-width: 26;
  shape-rendering: geometricPrecision;
}

.chart text {
  fill: black;
  font: 16px sans-serif;
  text-anchor: center;
}


.axis text {
  fill: #black;
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  stroke-width: 1;
  shape-rendering: geometricPrecision;
}


.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(50, 50, 50, 1);
      color: #fff;
      border-radius: 4px;
      font: 16px sans-serif;
      word-wrap: break-word;
}
    
.d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(50, 50, 50, 1);
      content: "\25BC";
      position: absolute;
      text-align: center;
}
    
.d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
}


